# Python cache files
__pycache__/
*.pyc

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Environment folders
env/
venv/
.egm722resub/

# Conda environment metadata
conda-meta/

# System files
.DS_Store
Thumbs.db

# Map output
map.html
